/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Masonry Layout */
.container {
    grid-auto-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    -ms-grid-rows: auto 1.5rem auto;
    grid-template-areas:
        "first first first first second second second second second third third third"
        "fourth fourth fourth fourth fifth fifth fifth fifth sixth sixth sixth sixth";
    -ms-grid-columns: minmax(auto, 1fr);
    grid-template-columns: minmax(auto, 1fr);
}


.box {
  height: 200px;
  background: #8f8f8f;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
