body {
  background-image: url(as.jpg);
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #040a5c;
  background-color: aqua;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

h1:hover {
  background-color: lightblue;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #040a5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #02327a;
}

