@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
body {
  background-image: url(img/as.jpg);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #040a5c;
  background-color: aqua;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

h1:hover {
  background-color: lightblue;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #040a5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #02327a;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px 10px;
}

.gif-container {
  flex: 1;
  max-width: 50%;
  padding-right: 50px;
}

.gif-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.game-options {
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
}

.game-button {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.game-button button {
  flex: 1;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .gif-container {
    position: relative;
    top: 25px;
    max-width: 80%;
    padding-right: 0;
    margin-left: 10px; /* Sesuaikan margin kiri untuk memberikan ruang di sebelah kiri gambar */
  }

  .game-options {
    margin-left: 10px; /* Sesuaikan margin kiri untuk memberikan ruang di sebelah kiri tombol */
    margin-top: 20px;
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease; /* Transisi untuk efek muncul-menghilang */
}

/* Main Content Container */
.container {
  opacity: 0; /* Default opacity: 0 */
  transition: opacity 0.5s ease; /* Transisi untuk efek muncul-menghilang */
}

/* Loading Spinner */
.loading-spinner {
  border: 5px solid black;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
