body {
	background-image: url(../as.jpg);
	margin: 0;
	padding: 0; /* Pastikan padding juga diatur ke 0 */
	
}

.tiles {
	margin: 48px auto;
	width: min(90vw, 600px); /* Lebar maksimal 90% dari lebar layar atau 600px */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Menyesuaikan jumlah kolom dengan ukuran layar */
	gap: 16px;
	box-sizing: border-box;
}

.tile {
	height: 100px;
	background: #111111;
	border: 5px solid #444444;
	cursor: pointer;
}

h1 {
	text-align: center;
	color: #040a5c;
}

.val-container {
	text-align: center; /* Menempatkan tombol di tengah secara horizontal */
	margin: 20px auto; /* Margin atas dan bawah auto untuk perataan horizontal */
	display: flex; /* Menggunakan flexbox */
	align-items: center; /* Menempatkan tombol di tengah secara vertikal */
}

.val {
	width: min(90vw, 300px); /* Lebar maksimal 90% dari lebar layar atau 300px */
	font-size: 1.2rem;
	padding: 10px 20px;
	background-color: #040a5c;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.val:hover {
	background-color: #02327a;
}
/* .card .back {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='25' height='25' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M25 30a5 5 0 110-10 5 5 0 010 10zm0-25a5 5 0 110-10 5 5 0 010 10zM0 30a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm12.5 12.5a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(174, 100%, 29%, 1)'/><path d='M0 15a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm25 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM12.5 2.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 25a2.5 2.5 0 110-5 2.5 2.5 0 010 5z'  stroke-width='1' stroke='none' fill='hsla(187, 100%, 42%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
} */

/* Media query untuk perangkat seluler */
@media only screen and (max-width: 600px) {
	.tiles {
			width: 90%; /* Lebar untuk perangkat seluler */
			grid-template-columns: repeat(2, minmax(100px, 1fr)); /* Menyesuaikan jumlah kolom untuk perangkat seluler */
	}

	.val {
			width: 90%; /* Lebar untuk perangkat seluler */
			display: flex;
			margin-top: 100px;
	}
}
h1,h2,p,a{
	font-family: sans-serif;
	font-weight: normal;
}

.jam-digital-malasngoding {
	overflow: hidden;
	width: 330px;
	margin: 20px auto;
	border: 5px solid #efefef;
}
.kotak{
	float: left;
	width: 110px;
	height: 100px;
	background-color: #189fff;
}
.jam-digital-malasngoding p {
	color: #fff;
	font-size: 36px;
	text-align: center;
	margin-top: 30px;
}
